<div class="container">

  <h2 class="blank-heading text-center">Editing Message</h2>

  <p class="text-center action"><%= link_to 'Show', @message, class: "btn btn-outline-primary" %> <%= link_to 'Back', messages_path, class: "btn btn-outline-primary" %>

  <div class="card">
    <div class="card-block">
      <%= render 'form', message: @message %>
    </div>
  </div>

</div>
