<div class="container">

  <h2 class="blank-heading text-center">New Reply</h2>
  <p class="text-center action"><%= link_to 'Back', replies_path, class: "btn btn-outline-primary" %></p>

  <div class="card">
    <div class="card-block">
      <%= render 'form', reply: @reply %>
    </div>
  </div>

</div>
