<div class="container">

  <h2 class="blank-heading text-xs-center">Editing Landing</h2>

  <p class="text-xs-center action"><%= link_to 'Show', @landing, class: "btn btn-outline-primary" %> <%= link_to 'Back', landings_path, class: "btn btn-outline-primary" %>

  <div class="card">
    <div class="card-block">
      <%= render 'form', landing: @landing %>
    </div>
  </div>

</div>
