<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<body>
  <p class="lead">There is a new comment in a Natural Maths course.</p>
  <p><%= @user.name %> made a <a href="<%= @link %>">comment here</a>.</p>
  <p>There may be other messages in your queue: you can <a href="https://naturalmaths.com.au/messages.html?all=true">check all replies here</a>.</p>
  <p>Thank you, have a nice day.</p>
</body>
