<div class="container">

  <h2 class="blank-heading text-xs-center">Editing Page</h2>

  <p class="text-xs-center action"><%= link_to 'Back', pages_path, class: "btn btn-outline-primary" %></p>

  <div class="card">
    <div class="card-block">
      <%= render 'form', page: @page %>
    </div>
  </div>

</div>
