<% title "Admin: Editing #{@lesson.title}" %>
<div class="container">

  <h2 class="blank-heading text-xs-center">Editing Lesson</h2>

  <p class="text-xs-center action"><%= link_to 'Show', @lesson, class: "btn btn-outline-primary" %> <%= link_to 'Back', lessons_path, class: "btn btn-outline-primary" %>

  <div class="card">
    <div class="card-block">
      <%= render 'form', lesson: @lesson %>
    </div>
  </div>

</div>
