<% title "Admin: New Lesson" %>
<div class="container">

  <h2 class="blank-heading text-center">New Lesson</h2>
  <p class="text-center action"><%= link_to 'Back', lessons_path, class: "btn btn-outline-primary" %></p>

  <div class="card">
    <div class="card-block">
      <%= render 'form', lesson: @lesson %>
    </div>
  </div>

</div>
