<!DOCTYPE html>
<html>
<head>
  <title>Voyager</title>
  <%= stylesheet_link_tag    "voyager/application", media: "all" %>
  <%= javascript_include_tag "voyager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
