<a href="/modules/<%= "#{params[:module_slug]}/#{@component.order.to_i - 1}" %>" class="btn btn-outline-secondary">Previous Lesson</a> <a href="/modules/<%= "#{params[:module_slug]}/#{@component.order.to_i + 1}" %>" class="btn btn-outline-secondary">Next Lesson</a>
